@media screen and (max-width:800px){
  /*MAX-WIDTH = TELAS MENOS QUE ALGUMA RESOLUÇÃO */
  .box-infos{
    font-size: 18px;
  }.imguser{
    width: 180px;

}
  
}

@media screen and (max-width:700px){
  /*MAX-WIDTH = TELAS MENOS QUE ALGUMA RESOLUÇÃO */

  .itemcabecalho{
    font-size: 35px;
  }
  .logoheader{
    width: 40px;
  }
}
@media screen and (max-width:550px){
  .box-tags{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width:460px){
  .container{
    padding: 20px;
  }
  .imguser{
    width: 160px;

}
}


@media screen and (max-width:400px){
  .itemcabecalho{
    font-size: 30px;
  }
  .logoheader{
    width: 35px;
  }
  .iconsimgs{
    width: 30px;
  }
  
}
